@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-100;
}

/* Estilos para nuka-carousel */
.slider-list,
.slider-slide {
  height: 100% !important;
}

.slider-slide > div {
  height: 100%;
}